---
import { description, title } from "../../data/site.json";
import Layout from "../layouts/Base.astro";
import menus from "../../data/menus.json";
---

<Layout title={title} description={description}>
  <section>
    <h1 class="text-32 font-bold">Slava Maksimov</h1>
    <div class="text-fg-muted">
      <span class="font-semibold">Software Engineer</span>
      ・
      <a
        href="https://github.com/slavafyi"
        class="font-semibold text-fg-accent"
      >
        @slavafyi
      </a>
    </div>
  </section>

  {
    menus.primary?.length > 0 && (
      <section>
        <ul class="flex flex-col gap-y-5 text-xl font-medium">
          {menus.primary.map((item) => (
            <li>
              <a href={item.href} target={item.external ? "_blank" : undefined}>
                {item.title}
              </a>
            </li>
          ))}
        </ul>
      </section>
    )
  }

  {
    menus.secondary?.length > 0 && (
      <section>
        <ul class="flex flex-col gap-y-5 text-xl text-fg-muted">
          {menus.secondary.map((item) => (
            <li>
              <a href={item.href} target={item.external ? "_blank" : undefined}>
                {item.title}
              </a>
            </li>
          ))}
        </ul>
      </section>
    )
  }
</Layout>
